@model LoginViewModel
<head>
    <link href=@Url.Content("~/Style/app.css") rel="stylesheet" type="text/css" />

    </head>
<form asp-controller="Auth" asp-action="Login" method="post">
    <input type="hidden" name="name" value="" asp-for="ReturnUrl" />
    <div>Login</div>
    <div>
        <label>UserName</label>
        <input asp-for="UserName" />  
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <button type="submit">Sign In</button>
    </div>

</form>